@mixin iconbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $base-width * 10;
    height: $base-width * 10;
    outline: none;
    border: none;
    border-radius: $full-border-radius;
    cursor: pointer;
    text-decoration: none;
    transition: all .2s cubic-bezier(.2,0,0,1);
    .icon {
        width: $base-width * 6;
    }
}

.filled-iconbtn {
    @include iconbtn;
    background-color: var(--md-sys-color-primary);
    .icon {
        color: var(--md-sys-color-on-primary);
    }
    &:disabled {
        background-color: rgba(#1D1B20, 12%);
        pointer-events: none;
        .icon {
            color: var(--md-sys-color-on-surface);
            opacity: 38%;
        }
    }
    &:hover {
        background-color: color-mix(in srgb, var(--md-sys-color-primary) 100%, #fff 8%);
        .icon {
            color: var(--md-sys-color-on-primary);
        }
    }
    &:active {
        background-color: color-mix(in srgb, var(--md-sys-color-primary) 100%, #fff 12%);
        .icon {
            color: var(--md-sys-color-on-primary);
        }
    }
}

.tonal-iconbtn {
    @include iconbtn;
    background-color: var(--md-sys-color-secondary-container);
    .icon {
        color: var(--md-sys-color-on-secondary-container);
    }
    &:disabled {
        background-color: rgba(#1D1B20, 12%);
        pointer-events: none;
        .icon {
            color: var(--md-sys-color-on-surface);
            opacity: 38%;
        }
    }
    &:hover {
        background-color: color-mix(in srgb, var(--md-sys-color-secondary-container), #1D192B 8%);
        .icon {
            color: var(--md-sys-color-on-secondary-container);
        }
    }
    &:active {
        background-color: color-mix(in srgb, var(--md-sys-color-secondary-container), #1D192B 12%);
        .icon {
            color: var(--md-sys-color-on-secondary-container);
        }
    }
}

.outlined-iconbtn {
    @include iconbtn;
    background-color: transparent;
    outline: 1px solid var(--md-sys-color-outline);
    .icon {
        color: var(--md-sys-color-on-surface-variant);
    }
    &:disabled {
        pointer-events: none;
        .icon {
            color: var(--md-sys-color-on-surface);
            opacity: 38%;
        }
    }
    &:hover {
        background-color: rgba(#49454F, 8%);
        .icon {
            color: var(--md-sys-color-on-surface-variant);
        }
    }
    &:active {
        background-color: rgba(#49454F, 12%);
        .icon {
            color: var(--md-sys-color-on-surface-variant);
        }
    }
}

.text-iconbtn {
    @include iconbtn;
    background-color: transparent;
    .icon {
        color: var(--md-sys-color-on-surface-variant);
    }
    &:disabled {
        background-color: transparent;
        pointer-events: none;
        .icon {
            color: var(--md-sys-color-on-surface);
            opacity: 38%;
        }
    }
    &:hover {
        background-color: rgba(#49454F, 8%);
        .icon {
            color: var(--md-sys-color-on-surface-variant);
        }
    }
    &:active {
        background-color: rgba(#49454F, 12%);
        .icon {
            color: var(--md-sys-color-on-surface-variant);
        }
    }
}
